<!DOCTYPE html>
<html lang="en">

<%- include("parts/head", {css:['global.css',"admHeader.css","adm-forms.css"]}) %>

<%- include("parts/admHeader.ejs") %>


<body>
    
    <main>
    <form action="/adm/usuarios/add" method="post">

        <label for="product-name">Name:</label>
		<input type="text" id="name" name="name" required>

		<label for="product-name">Email:</label>
		<input type="text" id="email" name="email" required>

        <label for="product-name">Phone Number:</label>
		<input type="text" id="phoneNumber" name="phoneNumber" required>

        <button type="submit">Salvar</button>

    </form>

    </main>

</body>



</html>