<!DOCTYPE html>
<html lang="en">

<%- include("parts/head", {css:['global.css','header.css','home.css','footer.css']}) %>

<body>
    
    <%- include('parts/header.ejs') %>

    <main>

        <h1>Produto nao encontrado</h1>

    </main>

    <%- include("parts/footer.ejs") %>

</body>
</html>