<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Bootstrap 5.2 -->
     <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap" rel="stylesheet">
    
   
    <!-- css pages -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- icones link -->
    <script src="https://kit.fontawesome.com/1051284148.js" crossorigin="anonymous"></script>
   

    <title>Document</title>
</head>


<body>
    
    <%- include('parts/header.ejs') %>

    <%- include('parts/banner.ejs') %>

    <main>

        <section class = "qualities">
            
            <div>
                <i class="fa-brands fa-pix"></i>
                <span class="top">Pague no pix com</span>
                <span class="bot">12% a vista </span>
            </div>

            <div>
                
                <i class="fa-brands fa-cc-paypal"></i>
                <span  class="top" >Parcelamentos em</span>
                <span class="bot" >ate 18x</span>
            </div>

            <div>

                <i class="fa-solid fa-rotate-left"></i>
                <span  class="top" >Garantia de troca em</span>
                <span class="bot" >ate 7 dias</span>

            </div>

        </section>

         <!-- --------------------------------------------------------------------------------------------------------------- -->
       
        <h2>Best Sellers</h2>     
        <section class = "gamedisplay">         
         
            <div class="games">
                <a href="">
                    <img src="/img/populargames/PokemonScarlet.avif" alt="">
                    <h2>Pokémon™ Scarlet</h2>
                    <span>R$ 0,00</span>
                </a>
                <button>Add to Cart</button>
            </div>

            <div class="games">
                <a href="">
                    <img src="/img/populargames/mario.avif" alt="">
                    <h2>Mario + Rabbids Sparks Of Hope</h2>
                    <span>R$ 0,00</span>
                    <button>Add to Cart</button>
                </a>
            </div>

            <div class="games">
                <a href="">
                    <img src="/img/populargames/fifa23.jfif" alt="">
                    <h2>EA SPORTS FIFA 23 Legacy Edition</h2>
                    <span>R$ 0,00</span>
                    <button>Add to Cart</button>
                </a>
            </div>

        </section>

        
        <!-- --------------------------------------------------------------------------------------------------------------- -->
        
        <h2>Reviews</h2>     
        <section id="hero-carousel" class="carousel slide" data-bs-ride="carousel">

        <!-- Carousel -->

        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h2>Nome</h2>
                <p>Review</p>
                <span>date</span>
              </div>
              <div class="carousel-item">
                 <h2>Nome</h2>
                <p>Review</p>
                <span>date</span>
              </div>
              <div class="carousel-item">
                 <h2>Nome</h2>
                <p>Review</p>
                <span>date</span>
              </div>
            </div>
        </div>

           

        </section>
        <!-- --------------------------------------------------------------------------------------------------------------- -->
        
        <h2>Promocoes</h2>
        <section class="gamedisplay">

            <div class="games">
                <a href="">
                    <img src="/img/promotiongames/amongus.avif" alt="">
                    <h2>Pokémon™ Scarlet</h2>
                    <span>R$ 0,00</span>
                    <span class = "discount">10% at the checkout</span>
                    <button>Add to Cart</button>
                </a>
            </div>

            <div class="games">
                <a href="">
                    <img src="/img/promotiongames/assignscreed.avif" alt="">
                    <h2>Pokémon™ Scarlet</h2>
                    <span>R$ 0,00</span>
                    <span class = "discount" >5% at the checkout</span>
                    <button>Add to Cart</button>
                </a>
            </div>
            <div class="games">
                <a href="">
                    <img src="/img/promotiongames/sonic.avif" alt="">
                    <h2>Pokémon™ Scarlet</h2>
                    <span>R$ 0,00</span>
                    <span class = "discount">50% at the checkout </span>
                    <button>Add to Cart</button>
                </a>
            </div>
            <div class="games">
                <a href="">
                    <img src="/img/promotiongames/mariokartdeluxe.avif" alt="">
                    <h2>Pokémon™ Scarlet</h2>
                    <span>R$ 0,00</span>
                    <span class = "discount" >5% at the checkout</span>
                    <button>Add to Cart</button>
                </a>
            </div>
            <div class="games">
                <a href="">
                    <img src="/img/promotiongames/theWatcher.jfif" alt="">
                    <h2>Pokémon™ Scarlet</h2>
                    <span>R$ 0,00</span>
                    <span class = "discount" >12% at the checkout</span>
                    <button>Add to Cart</button>
                </a>
            </div>
            <div class="games">
                <a href="">
                    <img src="/img/promotiongames/residentEvil4.webp" alt="">
                    <h2>Pokémon™ Scarlet</h2>
                    <span>R$ 0,00</span>
                    <span class = "discount" >7% at the checkout</span>
                    <button>Add to Cart</button>
                </a>
            </div>

        </section>
 
    </main>

    <%- include("parts/footer.ejs") %>

     <!-- js scripts -->
     <script  src = "/js/reviewSlideShow.js"></script>
</body>


</html>