<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../public/global.css">
    <link rel="stylesheet" href="../public/header.css">

    <script src="https://kit.fontawesome.com/1051284148.js" crossorigin="anonymous"></script>
    
    <title>Document</title>
</head>


<body>
    
    <header>
        
        <section class="top"> 
           
            <img src="../public/img/looka_logo_black.svg" alt="">

            <div class = "search">
                <input type="text" placeholder="Search for your product here...">
                    
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <div  class = userMenu>

               <a href=""><i class="fa-solid fa-user"></i> Sign In </a>
               <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            
            </div>
    

        </section>

        <section class = "menu">
                
            <div>    
                <ul class = "navbar">

                   <li>

                        <a href=""><i class="fa-brands fa-playstation"></i> PS5 </a>  
                   </li>

                   <li>
                        <a href=""><i class="fa-brands fa-xbox"></i> XBOX </a>
                   </li>
                   
                   <li>
                        <a href=""><i class="fa-solid fa-n"></i> NITENDO </a>
                   </li>
                   
                   <li>
                        <a href=""><i class="fa-solid fa-laptop"></i> PC </a>

                   </li>

                   <li>
                    <a href=""><i class="fa-solid fa-compact-disc"></i> Seminovos </a>
                   </li>
                
                </ul>
            </div>

            <div class = "logos">
                
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>

            </div>

        </section>

        <section class = "slideshow">

            <div class="slides">
                
                <!-- Radio Buttons -->
                <input type="radio" name = "radio-bt" id = "radio1">
                <input type="radio" name = "radio-bt" id = "radio2">
                <input type="radio" name = "radio-bt" id = "radio3">
                <!-- fim dos radios button -->

                <!-- Slides images -->
                <div class = "slide first">
                    <img src="../public/img/xboxbanner.png" alt="1">
                </div>

                <div class = "slide">
                    <img src="../public/img/nitendobanner.jfif" alt="2">
                </div>

                <div class = "slide">
                    <img src="../public/img/playstationbanner.jfif" alt="3">
                </div>
                <!--Fim Slides images -->

                <!-- Navigation auto -->
                <div class="navigation-auto">
                    <div class="auto-bt1"></div>
                    <div class="auto-bt2"></div>
                    <div class="auto-bt3"></div>
                </div>

            </div>


            <div class="manual-navigation">
                <label for="radio1" class = "manual-bt"></label>
                <label for="radio2" class = "manual-bt"></label>
                <label for="radio3" class = "manual-bt"></label>
            </div>

        </section>

    </header>

</body>
</html>