div.content {
    margin-left: 200px;
    padding: 100px 100px;
    height: 100%;
  }

#tabela-de-produtos {
    font-size: 20px;
    font-weight: 800;
    color: black;
    width: 100%;
    border-collapse: collapse;
}
#tabela-de-produtos tbody td {
 
    border: 1px solid #666;
    padding: 5px;
}
#tabela-de-produtos td:nth-child(1){
    width: 30px;
}
#tabela-de-produtos td:nth-child(2){
    width: 100px;
}

#tabela-de-produtos img {
    width: 100%;
    display: block;
}
.bt {
    font-weight: 800;
    text-decoration: none;
    background-color: #DDD;
    color: black;
    padding: 6px;
    font-size: 1rem;
}