header #menu{
    background-color: rgb(255, 23, 54);
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 70% 30%;
    height: 80px;
}

header .navbar{
    height: 100%;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    gap:50px;
}

header .navbar img{
    width: 100px;
}


header .titulos{
    font-size: 20px;
    font-weight: 600;
}

header .navbar .dropdown .dropdown-content{
    margin-top: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;    
    transition: opacity .5s  ease-in-out;
}

header .dropdown .dropdown-content.show{
    opacity: 1;
}

header .dropdown-content a{
    display: block;
    width: 180px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 0;
    border: 1px solid black;
}


header .search{
    position: relative;
}

header .search input{
    border: solid 1px #c1c1c1;
    width: 350px;
    padding: 5px;
    font-size: 18px;
    border-radius: 15px;
}

header .search button{
    position: absolute;
    background-color: transparent;
    border: none;
    color: #c1c1c1;
    right:17px;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #c1c1c1;
}

header .userMenu{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 20px;
    gap: 30px;
    font-size: 20px;
}

header .titulos:hover{
    color: #fff;
}

header .navbar .dropdown{
    position: relative;
}


header .dropdown-content a:hover{
    background-color: #ddd;
}

header a {
    text-decoration: none;
    color: black;
}

.userMenu > a:hover{
    color: white;
}

.nav
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}