<Header>

    <div class="sidebar">
        <a class="active" href="#home">Home</a>
        <a href="/adm/produtos">Produtos</a>
        <a href="/adm/pages">Pages</a>
        <a href="/adm/orders">Orders</a>
        <a href="/adm/analytics">Analytics</a>
    </div>

</Header>
