<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../public/footer.css">
</head>
<body>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h5>About Us</h5>
          <ul>
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Mission & Values</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Customer Service</h5>
          <ul>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Returns & Exchanges</a></li>
            <li><a href="#">Shipping Information</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Our Policies</h5>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Connect with us</h5>
          <ul class="social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p>Copyright © 2023 My E-commerce</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>