<header>

<section class="top"> 
    
    <img src="/img/logo.svg" alt="">

    <div class = "search">
        <input type="text" placeholder="Search for your product here...">
            
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>

    <div  class = userMenu>

        <a href="/sign-in"><i class="fa-solid fa-user"></i> Sign In </a>
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
    
    </div>


</section>

<section id="menu">

    <div class="navbar">

        <a class="titulos" href="/">Home</a>

        <div class="dropdown">
            <a href="" class="titulos">
                <i class="fa-solid fa-gamepad"></i>
                    Games
                <i class="fa-solid fa-sort-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="">Nintendo Switch</a>
                <a href="">New Release</a>
                <a href="">Shop Games</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="" class="titulos">
                <i class="fa-solid fa-shirt"></i>
                    Merchandise
                <i class="fa-solid fa-sort-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="">Shirts</a>
                <a href="">Colletables</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="" class="titulos">
                <i class="fa-solid fa-shirt"></i>
                    Acessories
                <i class="fa-solid fa-sort-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="">Consoles</a>
                <a href="">Others</a>
            </div>
        </div>

    </div>

    <div class="logos">

        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>

    </div>


</section>

</header>

