<header>

<section class="top"> 
    
    <img src="/img/logo.svg" alt="">

    <div class = "search">
        <input type="text" placeholder="Search for your product here...">
            
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>

    <div  class = userMenu>

        <a href="/sign-in"><i class="fa-solid fa-user"></i> Sign In </a>
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
    
    </div>


</section>

<section class = "menu">
        
<ul class = "navbar">

    <li class = "li-titulos">
        <a href="/"></i></i> Home </a>  
    </li>

    
    <li>
        <a href="" id = "games"><i class="fa-solid fa-gamepad"></i> Games <i class="fa-solid fa-sort-down"></i></a>
        <ul id = "submenuG">
            <li><a href="" >Nintendo Switch</a></li>
            <li><a href="" >New Release</a></li>
            <li><a href="" >Shop Games</a></li>
        </ul>
    </li>

        
    <li class = "li-titulos">
        <a href="" id = "merchandise"><i class="fa-solid fa-shirt"></i> Merchandise <i class="fa-solid fa-sort-down"></i></a>
        <ul id = "submenuM">
            <li>Shirts<a href="" ></a></li>
            <li>Colletables<a href="" ></a></li>
        </ul>
    </li>
        

    <li class = "li-titulos">
    <a href="" id = "acessories"><i class="fa-solid fa-display"></i></i> Acessories <i class="fa-solid fa-sort-down"></i></a>
        <ul id = "submenuA">
            <li>Consoles<a href="" ></a></li>
            <li>Others<a href="" ></a></li>
        </ul>
    </li>
    
</ul>

    <div class = "logos">
        
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>

    </div>

</section>


</section>

</header>

