<header>

<section class="top"> 
    
    <img src="/img/logo.svg" alt="">

    <div class = "search">
        <input type="text" placeholder="Search for your product here...">
            
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>

    <div  class = userMenu>

        <a href=""><i class="fa-solid fa-user"></i> Sign In </a>
        <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
    
    </div>


</section>

<section class = "menu">
        
    <div>    
        <ul class = "navbar">

            <li>

                <a href=""><i class="fa-solid fa-gamepad"></i></i> Nintendo Switch </a>  
            </li>

            <li>
                <a href=""><i class="fa-solid fa-fire-flame-curved"></i></i> Nintendo 64 </a>
            </li>
            
            <li>
                <a href=""><i class="fa-regular fa-gamepad"></i> Nintendo DS </a>
            </li>
            
            <li>
            <a href=""><i class="fa-solid fa-display"></i></i> Consoles </a>
            </li>
        
        </ul>
    </div>

    <div class = "logos">
        
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>

    </div>

</section>


</section>

</header>

