<header>

    <section id="menu">

        <div class="navbar">

            <img src="/img/logo.svg" alt="">

            <a class="titulos" href="/">Home</a>

            <div class="dropdown">
                <a href="" class="titulos">
                    <i class="fa-solid fa-gamepad"></i>
                    Shop
                    <i class="fa-solid fa-sort-down"></i>
                </a>
                <div class="dropdown-content">
                    <a href="/products/1">All Games</a>
                    <a href="/products/2">Shirts</a>
                    <a href="/products/3">Toys</a>
                </div>
            </div>

            <a class="titulos" href="/contact">Contact Us</a>

            <div class="search">
                <input type="text" placeholder="Search for your product here...">
            </div>

        </div>

        <div class=userMenu>

            <% if(username==undefined) { %>
                <a href="/sign-in"><i class="fa-solid fa-user"></i> Sign In </a>
                <% }else { %>
                    
                    <div id="username">
                       
                        <button>
                            <i class="fa-solid fa-user"></i>
                            <%= username %>
                        </button>
                        <div id="logout-btn"><a href="/logout">
                            Logout
                        </a></div>
                        
                    </div>

                    <% } %>

                        <% if(cart==undefined) { %>
                            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                            <% }else { %>
                                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                                <%= totItemCart %>
                                    </i>
                                    <% } %>


        </div>

    </section>

    <script src="/js/logOut.js"></script>

</header>